<div id="page_footer">
	<div id="footer">
		<div class="container">

			<div class="row">
				
				<div class="grid-4">
					<h1 id="footer-logo">Igreja Presbiteriana da Madalena</h1>
					
					<p>Rua Real da Torre, 3, Madalena - Recife - PE, 50610-000, Brasil </p>
					<p>+55 81 3227-3469</p>
					
				</div> <!-- /grid-4 -->
				
				<div class="grid-4">
					
					<h3><span class="slash">//</span> Socialize com a gente!</h3>
					
					<p>Fique em contato com a igreja através das suas redes socias</p>
					
					<ul class="social-icons-container">						
						<li>
							<a href="javascript:;" class="social-icon social-icon-twitter">
								Twitter
							</a>
						</li>
							
						<li>
							<a href="javascript:;" class="social-icon social-icon-googleplus">
								Google +
							</a>
						</li>
						
						<li>							
							<a href="javascript:;" class="social-icon social-icon-facebook">
								Facebook
							</a>
						</li>
						
					</ul>
					
				</div> <!-- /grid-4 -->
				
				<div class="grid-4">
						
					<h3><span class="slash">//</span> Se inscreva e receba novidades</h3>
					
	
					<p>Cadastre seu email e receba os informativos da igreja.</p>
					
					
					<form>
						
						<input type="text" name="subscribe_email" placeholder="Seu Email">
						
						<br>
						
						<button class="btn btn-warning">Inscreva-se</button>
					</form>
					
					
				</div><!-- /grid-4 -->
				
			</div> <!-- /row -->
			
		</div> <!-- /container -->
		
	</div> <!-- /footer -->
	<div id="copyright">	
		<div class="container">	
			<div class="row">
			
				<div id="rights" class="grid-6">
				© 2012 Igreja Presbiteriana da Madalena All Rights Reserved.
				</div> <!-- /grid-6 -->	
			</div> <!-- /row -->
		</div> <!-- /container -->		
	</div> <!-- /copyright -->
<div>
