<header id="page_header">
	<div class="clearfix"><div class="clearfix">
		<div id="header">
			<div class="container">
				<h1 id="title">
					<a href="./index.html">
						Igreja Presbiteriana da Madalena
					</a>
				</h1>
			</div> <!-- /container -->
		</div> <!-- /header -->	
	</div> <!-- /header -->	

	<div id="nav" class="clearfix">	
		<div class="container">
			
			<ul id="main-nav">
				<li class="active">
					<a href="#">Home</a>
				</li>
				
				<li>
					<a href="#">A Igreja</a>
				</li>
				
				<li>
					<a href="#">Ministérios</a>
				</li>
				
				<li>
					<a href="#">Culto ao Vivo</a>
				</li>
				
				<li>
					<a href="#">Agenda</a>
				</li>
				
				<li>
					<a href="#">Contato</a>
				</li>
			</ul>
		</div> <!-- /container -->
		
	</div> <!-- /nav -->
</header>